.text-blue {
  color: #0000FF;
}

h2 {
  text-decoration: underline
}

h3 {
  text-decoration: underline;
}
img {
  border: 5px solid black;
}

header {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px
}

body {
  background-color:  grey;
}

footer {
  margin-top: 15px;
  padding: 50px;
}

/* Two image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 45%;
  padding: 10px 6px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
